In [21]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
from selenium.webdriver.common.keys import Keys

In [22]:
service = Service("C:/Users/DELL/Downloads/chromedriver_win32/chromedriver.exe")
driver = webdriver.Chrome(service=service)

In [23]:
wait=WebDriverWait(driver, 5)

driver.maximize_window()
driver.implicitly_wait(20)

driver.get("https://growjo.com/city/Atlanta")

In [82]:
mytable = driver.find_element(By.XPATH,"//html//body//table//tbody")
rows_table = mytable.find_elements(By.XPATH,"tr")

rows_count = len(rows_table)

for row in range(rows_count):
    Columns_row = rows_table[row].find_elements(By.XPATH,"td")
    columns_count = len(Columns_row)
    
    print("Number of cells In Row " + str(row) + " are " + str(columns_count))
    
    for column in range(columns_count):
        if column==7:
            celltext = Columns_row[column].find_elements(By.XPATH,"a")
            print(celltext[0].get_attribute('href'))
        else:
            celtext = Columns_row[column].text
            print("Cell Value of row number " + str(row) + " and column number " + str(column) + " Is " + str(celtext))

Number of cells In Row 0 are 8
Cell Value of row number 0 and column number 0 Is 1
Cell Value of row number 0 and column number 1 Is SnapNurse
Cell Value of row number 0 and column number 2 Is HRTech
Cell Value of row number 0 and column number 3 Is
Cell Value of row number 0 and column number 4 Is 344
Cell Value of row number 0 and column number 5 Is 648%
Cell Value of row number 0 and column number 6 Is 1
http://www.linkedin.com/company/snapnurse/jobs
Number of cells In Row 1 are 8
Cell Value of row number 1 and column number 0 Is 2
Cell Value of row number 1 and column number 1 Is Greenlight Fina...
Cell Value of row number 1 and column number 2 Is Fintech
Cell Value of row number 1 and column number 3 Is $556.5M
Cell Value of row number 1 and column number 4 Is 264
Cell Value of row number 1 and column number 5 Is 53%
Cell Value of row number 1 and column number 6 Is 23
http://www.linkedin.com/company/greenlightcard/jobs
Number of cells In Row 2 are 8
Cell Value of row number 2 and column number 0 Is 3
Cell Value of row number 2 and column number 1 Is STORD
Cell Value of row number 2 and column number 2 Is Logistics
Cell Value of row number 2 and column number 3 Is $115.2M
Cell Value of row number 2 and column number 4 Is 220
Cell Value of row number 2 and column number 5 Is 124%
Cell Value of row number 2 and column number 6 Is 47
http://www.linkedin.com/company/stord/jobs
Number of cells In Row 3 are 8
Cell Value of row number 3 and column number 0 Is 4
Cell Value of row number 3 and column number 1 Is Popmenu
Cell Value of row number 3 and column number 2 Is Internet
Cell Value of row number 3 and column number 3 Is $22.1M
Cell Value of row number 3 and column number 4 Is 248
Cell Value of row number 3 and column number 5 Is 134%
Cell Value of row number 3 and column number 6 Is 33
http://www.linkedin.com/company/popmenu/jobs
Number of cells In Row 4 are 8
Cell Value of row number 4 and column number 0 Is 5
Cell Value of row number 4 and column number 1 Is Grayshift
Cell Value of row number 4 and column number 2 Is IT Security
Cell Value of row number 4 and column number 3 Is $94M
Cell Value of row number 4 and column number 4 Is 92
Cell Value of row number 4 and column number 5 Is 171%
Cell Value of row number 4 and column number 6 Is 2
http://www.linkedin.com/company/grayshift/jobs
Number of cells In Row 5 are 8
Cell Value of row number 5 and column number 0 Is 6
Cell Value of row number 5 and column number 1 Is Variant
Cell Value of row number 5 and column number 2 Is Transportation
Cell Value of row number 5 and column number 3 Is
Cell Value of row number 5 and column number 4 Is 89
Cell Value of row number 5 and column number 5 Is 287%
Cell Value of row number 5 and column number 6 Is 23
http://www.linkedin.com/company/drivevariant/jobs
Number of cells In Row 6 are 8
Cell Value of row number 6 and column number 0 Is 7
Cell Value of row number 6 and column number 1 Is Stryten Manufac...
Cell Value of row number 6 and column number 2 Is Automotive
Cell Value of row number 6 and column number 3 Is
Cell Value of row number 6 and column number 4 Is 343
Cell Value of row number 6 and column number 5 Is 285%
Cell Value of row number 6 and column number 6 Is 18
http://www.linkedin.com/company/stryten-manufacturing/jobs
Number of cells In Row 7 are 8
Cell Value of row number 7 and column number 0 Is 8
Cell Value of row number 7 and column number 1 Is Kobiton
Cell Value of row number 7 and column number 2 Is Tech Services
Cell Value of row number 7 and column number 3 Is $22.2M
Cell Value of row number 7 and column number 4 Is 127
Cell Value of row number 7 and column number 5 Is 102%
Cell Value of row number 7 and column number 6 Is 4
http://www.linkedin.com/company/kobiton/jobs
Number of cells In Row 8 are 8
Cell Value of row number 8 and column number 0 Is 9
Cell Value of row number 8 and column number 1 Is DecisionLink
Cell Value of row number 8 and column number 2 Is Tech Services
Cell Value of row number 8 and column number 3 Is $23M
Cell Value of row number 8 and column number 4 Is 98
Cell Value of row number 8 and column number 5 Is 180%
Cell Value of row number 8 and column number 6 Is 1
http://www.linkedin.com/company/decisionlink/jobs
Number of cells In Row 9 are 8
Cell Value of row number 9 and column number 0 Is 10
Cell Value of row number 9 and column number 1 Is Flock Safety
Cell Value of row number 9 and column number 2 Is Security
Cell Value of row number 9 and column number 3 Is $80.6M
Cell Value of row number 9 and column number 4 Is 257
Cell Value of row number 9 and column number 5 Is 199%
Cell Value of row number 9 and column number 6 Is 52
http://www.linkedin.com/company/flock-safety/jobs
Number of cells In Row 10 are 8
Cell Value of row number 10 and column number 0 Is 11
Cell Value of row number 10 and column number 1 Is Trust Stamp
Cell Value of row number 10 and column number 2 Is Tech Services
Cell Value of row number 10 and column number 3 Is $19.5M
Cell Value of row number 10 and column number 4 Is 79
Cell Value of row number 10 and column number 5 Is 46%
Cell Value of row number 10 and column number 6 Is 5
http://www.linkedin.com/company/trust-stamp/jobs
Number of cells In Row 11 are 8
Cell Value of row number 11 and column number 0 Is 12
Cell Value of row number 11 and column number 1 Is LendingPoint
Cell Value of row number 11 and column number 2 Is Lending - Business
Cell Value of row number 11 and column number 3 Is $1.9B
Cell Value of row number 11 and column number 4 Is 200
Cell Value of row number 11 and column number 5 Is 35%
Cell Value of row number 11 and column number 6 Is 12
http://www.linkedin.com/company/lendingpoint/jobs
Number of cells In Row 12 are 8
Cell Value of row number 12 and column number 0 Is 13
Cell Value of row number 12 and column number 1 Is MWR Financial |...
Cell Value of row number 12 and column number 2 Is Finance
Cell Value of row number 12 and column number 3 Is
Cell Value of row number 12 and column number 4 Is 113
Cell Value of row number 12 and column number 5 Is 36%
Cell Value of row number 12 and column number 6 Is 2
http://www.linkedin.com/company/affiliate-yourself---a-phearless-technology-llc-company./jobs
Number of cells In Row 13 are 8
Cell Value of row number 13 and column number 0 Is 14
Cell Value of row number 13 and column number 1 Is Terminus
Cell Value of row number 13 and column number 2 Is Martech
Cell Value of row number 13 and column number 3 Is $120.6M
Cell Value of row number 13 and column number 4 Is 279
Cell Value of row number 13 and column number 5 Is 15%
Cell Value of row number 13 and column number 6 Is 41
http://www.linkedin.com/company/terminus-account-based-marketing/jobs
Number of cells In Row 14 are 8
Cell Value of row number 14 and column number 0 Is 15
Cell Value of row number 14 and column number 1 Is DefenseStorm
Cell Value of row number 14 and column number 2 Is IT Security
Cell Value of row number 14 and column number 3 Is $29.2M
Cell Value of row number 14 and column number 4 Is 96
Cell Value of row number 14 and column number 5 Is 39%
Cell Value of row number 14 and column number 6 Is 1
http://www.linkedin.com/company/defensestorm/jobs
Number of cells In Row 15 are 8
Cell Value of row number 15 and column number 0 Is 16
Cell Value of row number 15 and column number 1 Is MAXEX
Cell Value of row number 15 and column number 2 Is Finance
Cell Value of row number 15 and column number 3 Is $80.4M
Cell Value of row number 15 and column number 4 Is 147
Cell Value of row number 15 and column number 5 Is 77%
Cell Value of row number 15 and column number 6 Is 1
http://www.linkedin.com/company/maxex-llc/jobs
Number of cells In Row 16 are 8
Cell Value of row number 16 and column number 0 Is 17
Cell Value of row number 16 and column number 1 Is Florence Health...
Cell Value of row number 16 and column number 2 Is SaaS
Cell Value of row number 16 and column number 3 Is $8.8M
Cell Value of row number 16 and column number 4 Is 139
Cell Value of row number 16 and column number 5 Is 111%
Cell Value of row number 16 and column number 6 Is 1
http://www.linkedin.com/company/florence-healthcare/jobs
Number of cells In Row 17 are 8
Cell Value of row number 17 and column number 0 Is 18
Cell Value of row number 17 and column number 1 Is Bakkt
Cell Value of row number 17 and column number 2 Is Fintech
Cell Value of row number 17 and column number 3 Is $482.5M
Cell Value of row number 17 and column number 4 Is 232
Cell Value of row number 17 and column number 5 Is 49%
Cell Value of row number 17 and column number 6 Is 19
http://www.linkedin.com/company/bakkt/jobs
Number of cells In Row 18 are 8

Cell Value of row number 18 and column number 0 Is 19
Cell Value of row number 18 and column number 1 Is CDC Foundation
Cell Value of row number 18 and column number 2 Is NonProfit
Cell Value of row number 18 and column number 3 Is
Cell Value of row number 18 and column number 4 Is 859
Cell Value of row number 18 and column number 5 Is 35%
Cell Value of row number 18 and column number 6 Is 1
http://www.linkedin.com/company/cdc-foundation/jobs
Number of cells In Row 19 are 8
Cell Value of row number 19 and column number 0 Is 20
Cell Value of row number 19 and column number 1 Is SalesLoft
Cell Value of row number 19 and column number 2 Is Sales
Cell Value of row number 19 and column number 3 Is $245.7M
Cell Value of row number 19 and column number 4 Is 712
Cell Value of row number 19 and column number 5 Is 47%
Cell Value of row number 19 and column number 6 Is 30
http://www.linkedin.com/company/salesloft/jobs
Number of cells In Row 20 are 8
Cell Value of row number 20 and column number 0 Is 21
Cell Value of row number 20 and column number 1 Is Cypress.io
Cell Value of row number 20 and column number 2 Is Tech Services
Cell Value of row number 20 and column number 3 Is $54.8M
Cell Value of row number 20 and column number 4 Is 85
Cell Value of row number 20 and column number 5 Is 93%
Cell Value of row number 20 and column number 6 Is 1
http://www.linkedin.com/company/cypress.io/jobs
Number of cells In Row 21 are 8
Cell Value of row number 21 and column number 0 Is 22
Cell Value of row number 21 and column number 1 Is QGenda
Cell Value of row number 21 and column number 2 Is Tech Services
Cell Value of row number 21 and column number 3 Is $3.5M
Cell Value of row number 21 and column number 4 Is 437
Cell Value of row number 21 and column number 5 Is 28%
Cell Value of row number 21 and column number 6 Is 1
http://www.linkedin.com/company/qgenda/jobs
Number of cells In Row 22 are 8
Cell Value of row number 22 and column number 0 Is 23
Cell Value of row number 22 and column number 1 Is LeaseQuery
Cell Value of row number 22 and column number 2 Is Accounting
Cell Value of row number 22 and column number 3 Is $40M
Cell Value of row number 22 and column number 4 Is 218
Cell Value of row number 22 and column number 5 Is 25%
Cell Value of row number 22 and column number 6 Is 13
http://www.linkedin.com/company/leasequery/jobs
Number of cells In Row 23 are 8
Cell Value of row number 23 and column number 0 Is 24
Cell Value of row number 23 and column number 1 Is Verusen
Cell Value of row number 23 and column number 2 Is Tech Services
Cell Value of row number 23 and column number 3 Is $14.1M
Cell Value of row number 23 and column number 4 Is 41
Cell Value of row number 23 and column number 5 Is 116%
Cell Value of row number 23 and column number 6 Is 1
http://www.linkedin.com/company/verusen/jobs
Number of cells In Row 24 are 8
Cell Value of row number 24 and column number 0 Is 25
Cell Value of row number 24 and column number 1 Is Demand Driven T...
Cell Value of row number 24 and column number 2 Is Tech Services
Cell Value of row number 24 and column number 3 Is $8.9M
Cell Value of row number 24 and column number 4 Is 44
Cell Value of row number 24 and column number 5 Is 22%
Cell Value of row number 24 and column number 6 Is 1
http://www.linkedin.com/company/demand-driven-technologies/jobs
Number of cells In Row 25 are 1
Cell Value of row number 25 and column number 0 Is
Number of cells In Row 26 are 8
Cell Value of row number 26 and column number 0 Is 26
Cell Value of row number 26 and column number 1 Is Reibus Internat...
Cell Value of row number 26 and column number 2 Is Tech Services
Cell Value of row number 26 and column number 3 Is $3.9M
Cell Value of row number 26 and column number 4 Is 46
Cell Value of row number 26 and column number 5 Is 109%
Cell Value of row number 26 and column number 6 Is 1
http://www.linkedin.com/company/reibus-international/jobs
Number of cells In Row 27 are 8
Cell Value of row number 27 and column number 0 Is 27
Cell Value of row number 27 and column number 1 Is SingleOps
Cell Value of row number 27 and column number 2 Is Tech Services
Cell Value of row number 27 and column number 3 Is $8.6M
Cell Value of row number 27 and column number 4 Is 43
Cell Value of row number 27 and column number 5 Is 59%
Cell Value of row number 27 and column number 6 Is 1
http://www.linkedin.com/company/singleops/jobs
Number of cells In Row 28 are 8
Cell Value of row number 28 and column number 0 Is 28
Cell Value of row number 28 and column number 1 Is Provalus
Cell Value of row number 28 and column number 2 Is Tech Services
Cell Value of row number 28 and column number 3 Is
Cell Value of row number 28 and column number 4 Is 196
Cell Value of row number 28 and column number 5 Is 45%
Cell Value of row number 28 and column number 6 Is 5
http://www.linkedin.com/company/provalus/jobs
Number of cells In Row 29 are 8
Cell Value of row number 29 and column number 0 Is 29
Cell Value of row number 29 and column number 1 Is Iconex
Cell Value of row number 29 and column number 2 Is Supplies
Cell Value of row number 29 and column number 3 Is
Cell Value of row number 29 and column number 4 Is 322
Cell Value of row number 29 and column number 5 Is 15%
Cell Value of row number 29 and column number 6 Is 2
http://www.linkedin.com/company/iconex/jobs
Number of cells In Row 30 are 8
Cell Value of row number 30 and column number 0 Is 30
Cell Value of row number 30 and column number 1 Is MessageGears
Cell Value of row number 30 and column number 2 Is Tech Services
Cell Value of row number 30 and column number 3 Is $18.4M
Cell Value of row number 30 and column number 4 Is 64
Cell Value of row number 30 and column number 5 Is 28%
Cell Value of row number 30 and column number 6 Is 1
http://www.linkedin.com/company/messagegears-llc/jobs
Number of cells In Row 31 are 8
Cell Value of row number 31 and column number 0 Is 31
Cell Value of row number 31 and column number 1 Is RoofClaim.com
Cell Value of row number 31 and column number 2 Is Construction
Cell Value of row number 31 and column number 3 Is
Cell Value of row number 31 and column number 4 Is 61
Cell Value of row number 31 and column number 5 Is 53%
Cell Value of row number 31 and column number 6 Is 1
http://www.linkedin.com/company/roofclaim-com/jobs
Number of cells In Row 32 are 8
Cell Value of row number 32 and column number 0 Is 32
Cell Value of row number 32 and column number 1 Is Hudson MX
Cell Value of row number 32 and column number 2 Is AdTech
Cell Value of row number 32 and column number 3 Is $10M
Cell Value of row number 32 and column number 4 Is 121
Cell Value of row number 32 and column number 5 Is -2%
Cell Value of row number 32 and column number 6 Is 1
http://www.linkedin.com/company/hudson-mx/jobs
Number of cells In Row 33 are 8
Cell Value of row number 33 and column number 0 Is 33
Cell Value of row number 33 and column number 1 Is Vero Biotech
Cell Value of row number 33 and column number 2 Is Pharma
Cell Value of row number 33 and column number 3 Is $104.6M
Cell Value of row number 33 and column number 4 Is 188
Cell Value of row number 33 and column number 5 Is 40%
Cell Value of row number 33 and column number 6 Is 3
http://www.linkedin.com/company/vero-biotech/jobs
Number of cells In Row 34 are 8
Cell Value of row number 34 and column number 0 Is 34
Cell Value of row number 34 and column number 1 Is Steady
Cell Value of row number 34 and column number 2 Is Internet
Cell Value of row number 34 and column number 3 Is $29.5M
Cell Value of row number 34 and column number 4 Is 88
Cell Value of row number 34 and column number 5 Is 42%
Cell Value of row number 34 and column number 6 Is 1
http://www.linkedin.com/company/steadyapp/jobs
Number of cells In Row 35 are 8
Cell Value of row number 35 and column number 0 Is 35
Cell Value of row number 35 and column number 1 Is ASP Global
Cell Value of row number 35 and column number 2 Is Medical Equip
Cell Value of row number 35 and column number 3 Is
Cell Value of row number 35 and column number 4 Is 82
Cell Value of row number 35 and column number 5 Is 12%
Cell Value of row number 35 and column number 6 Is 1
http://www.linkedin.com/company/aspglobal/jobs
Number of cells In Row 36 are 8

Cell Value of row number 36 and column number 0 Is 36
Cell Value of row number 36 and column number 1 Is Bark.us
Cell Value of row number 36 and column number 2 Is Tech Services
Cell Value of row number 36 and column number 3 Is $37M
Cell Value of row number 36 and column number 4 Is 107
Cell Value of row number 36 and column number 5 Is -37%
Cell Value of row number 36 and column number 6 Is 2
http://www.linkedin.com/company/barktechnologies/jobs
Number of cells In Row 37 are 8
Cell Value of row number 37 and column number 0 Is 37
Cell Value of row number 37 and column number 1 Is PadSplit
Cell Value of row number 37 and column number 2 Is Real Estate
Cell Value of row number 37 and column number 3 Is $14.6M
Cell Value of row number 37 and column number 4 Is 92
Cell Value of row number 37 and column number 5 Is 64%
Cell Value of row number 37 and column number 6 Is 1
http://www.linkedin.com/company/padsplit/jobs
Number of cells In Row 38 are 8
Cell Value of row number 38 and column number 0 Is 38
Cell Value of row number 38 and column number 1 Is Greenwood
Cell Value of row number 38 and column number 2 Is Banking
Cell Value of row number 38 and column number 3 Is $43M
Cell Value of row number 38 and column number 4 Is 70
Cell Value of row number 38 and column number 5 Is 46%
Cell Value of row number 38 and column number 6 Is 1
http://www.linkedin.com/company/bankgreenwood/jobs
Number of cells In Row 39 are 8
Cell Value of row number 39 and column number 0 Is 39
Cell Value of row number 39 and column number 1 Is Deposco
Cell Value of row number 39 and column number 2 Is Martech
Cell Value of row number 39 and column number 3 Is $46.1M
Cell Value of row number 39 and column number 4 Is 179
Cell Value of row number 39 and column number 5 Is 19%
Cell Value of row number 39 and column number 6 Is 1
http://www.linkedin.com/company/deposco/jobs
Number of cells In Row 40 are 8
Cell Value of row number 40 and column number 0 Is 40
Cell Value of row number 40 and column number 1 Is BioIQ
Cell Value of row number 40 and column number 2 Is Tech Services
Cell Value of row number 40 and column number 3 Is $42.6M
Cell Value of row number 40 and column number 4 Is 148
Cell Value of row number 40 and column number 5 Is 15%
Cell Value of row number 40 and column number 6 Is 7
http://www.linkedin.com/company/bioiq/jobs
Number of cells In Row 41 are 8
Cell Value of row number 41 and column number 0 Is 41
Cell Value of row number 41 and column number 1 Is Springbot
Cell Value of row number 41 and column number 2 Is Martech
Cell Value of row number 41 and column number 3 Is $37.6M
Cell Value of row number 41 and column number 4 Is 95
Cell Value of row number 41 and column number 5 Is -25%
Cell Value of row number 41 and column number 6 Is 1
http://www.linkedin.com/company/springbot/jobs
Number of cells In Row 42 are 8
Cell Value of row number 42 and column number 0 Is 42
Cell Value of row number 42 and column number 1 Is InVeris Trainin...
Cell Value of row number 42 and column number 2 Is Defense
Cell Value of row number 42 and column number 3 Is
Cell Value of row number 42 and column number 4 Is 111
Cell Value of row number 42 and column number 5 Is 102%
Cell Value of row number 42 and column number 6 Is 1
http://www.linkedin.com/company/inveris-training-solutions/jobs
Number of cells In Row 43 are 8
Cell Value of row number 43 and column number 0 Is 43
Cell Value of row number 43 and column number 1 Is StimLabs
Cell Value of row number 43 and column number 2 Is Medical Equip
Cell Value of row number 43 and column number 3 Is
Cell Value of row number 43 and column number 4 Is 118
Cell Value of row number 43 and column number 5 Is 119%
Cell Value of row number 43 and column number 6 Is 1
http://www.linkedin.com/company/stimlabs/jobs
Number of cells In Row 44 are 8
Cell Value of row number 44 and column number 0 Is 44
Cell Value of row number 44 and column number 1 Is Motivo
Cell Value of row number 44 and column number 2 Is Digital Health
Cell Value of row number 44 and column number 3 Is $2.2M
Cell Value of row number 44 and column number 4 Is 42
Cell Value of row number 44 and column number 5 Is 62%
Cell Value of row number 44 and column number 6 Is 1
http://www.linkedin.com/company/wearemotivo/jobs
Number of cells In Row 45 are 8
Cell Value of row number 45 and column number 0 Is 45
Cell Value of row number 45 and column number 1 Is Buckle
Cell Value of row number 45 and column number 2 Is Insurance
Cell Value of row number 45 and column number 3 Is $31M
Cell Value of row number 45 and column number 4 Is 348
Cell Value of row number 45 and column number 5 Is -16%
Cell Value of row number 45 and column number 6 Is 1
http://www.linkedin.com/company/buckledup/jobs
Number of cells In Row 46 are 8
Cell Value of row number 46 and column number 0 Is 46
Cell Value of row number 46 and column number 1 Is MedZed
Cell Value of row number 46 and column number 2 Is Hospital/Healthcare
Cell Value of row number 46 and column number 3 Is $4.8M
Cell Value of row number 46 and column number 4 Is 83
Cell Value of row number 46 and column number 5 Is 98%
Cell Value of row number 46 and column number 6 Is 1
http://www.linkedin.com/company/medzed-llc/jobs
Number of cells In Row 47 are 8
Cell Value of row number 47 and column number 0 Is 47
Cell Value of row number 47 and column number 1 Is Calendly
Cell Value of row number 47 and column number 2 Is Martech
Cell Value of row number 47 and column number 3 Is $350.6M
Cell Value of row number 47 and column number 4 Is 304
Cell Value of row number 47 and column number 5 Is 72%
Cell Value of row number 47 and column number 6 Is 31
http://www.linkedin.com/company/calendly/jobs
Number of cells In Row 48 are 8
Cell Value of row number 48 and column number 0 Is 48
Cell Value of row number 48 and column number 1 Is Bitcoin Depot
Cell Value of row number 48 and column number 2 Is Finance
Cell Value of row number 48 and column number 3 Is
Cell Value of row number 48 and column number 4 Is 87
Cell Value of row number 48 and column number 5 Is 81%
Cell Value of row number 48 and column number 6 Is 1
http://www.linkedin.com/company/bitcoin-depot/jobs
Number of cells In Row 49 are 8
Cell Value of row number 49 and column number 0 Is 49
Cell Value of row number 49 and column number 1 Is OnPay
Cell Value of row number 49 and column number 2 Is Fintech
Cell Value of row number 49 and column number 3 Is $6M
Cell Value of row number 49 and column number 4 Is 70
Cell Value of row number 49 and column number 5 Is 32%
Cell Value of row number 49 and column number 6 Is 1
http://www.linkedin.com/company/onpay-inc/jobs
Number of cells In Row 50 are 8
Cell Value of row number 50 and column number 0 Is 50
Cell Value of row number 50 and column number 1 Is Chime Solutions
Cell Value of row number 50 and column number 2 Is Consumer
Cell Value of row number 50 and column number 3 Is
Cell Value of row number 50 and column number 4 Is 435
Cell Value of row number 50 and column number 5 Is 28%
Cell Value of row number 50 and column number 6 Is 1
http://www.linkedin.com/company/chime-solutions-llc/jobs
Number of cells In Row 51 are 1
Cell Value of row number 51 and column number 0 Is
Number of cells In Row 52 are 8
Cell Value of row number 52 and column number 0 Is 51
Cell Value of row number 52 and column number 1 Is Georgia Tech VI...
Cell Value of row number 52 and column number 2 Is Education
Cell Value of row number 52 and column number 3 Is
Cell Value of row number 52 and column number 4 Is 161
Cell Value of row number 52 and column number 5 Is 89%
Cell Value of row number 52 and column number 6 Is 1
http://www.linkedin.com/company/georgiatech-vip/jobs
Number of cells In Row 53 are 8
Cell Value of row number 53 and column number 0 Is 52
Cell Value of row number 53 and column number 1 Is DC BLOX
Cell Value of row number 53 and column number 2 Is Storage
Cell Value of row number 53 and column number 3 Is $239.5M
Cell Value of row number 53 and column number 4 Is 37
Cell Value of row number 53 and column number 5 Is 3%
Cell Value of row number 53 and column number 6 Is 1
http://www.linkedin.com/company/dcblox-inc-/jobs
Number of cells In Row 54 are 8
Cell Value of row number 54 and column number 0 Is 53
Cell Value of row number 54 and column number 1 Is Chime Solutions

Cell Value of row number 54 and column number 2 Is Consumer
Cell Value of row number 54 and column number 3 Is
Cell Value of row number 54 and column number 4 Is 515
Cell Value of row number 54 and column number 5 Is 28%
Cell Value of row number 54 and column number 6 Is 1
http://www.linkedin.com/company/chimesolutions-/jobs
Number of cells In Row 55 are 8
Cell Value of row number 55 and column number 0 Is 54
Cell Value of row number 55 and column number 1 Is SmartCommerce
Cell Value of row number 55 and column number 2 Is Tech Services
Cell Value of row number 55 and column number 3 Is $19.1M
Cell Value of row number 55 and column number 4 Is 42
Cell Value of row number 55 and column number 5 Is 45%
Cell Value of row number 55 and column number 6 Is 1
http://www.linkedin.com/company/smartcommerce/jobs
Number of cells In Row 56 are 8
Cell Value of row number 56 and column number 0 Is 55
Cell Value of row number 56 and column number 1 Is iVision
Cell Value of row number 56 and column number 2 Is Tech Services
Cell Value of row number 56 and column number 3 Is
Cell Value of row number 56 and column number 4 Is 231
Cell Value of row number 56 and column number 5 Is 26%
Cell Value of row number 56 and column number 6 Is 1
http://www.linkedin.com/company/ivision/jobs
Number of cells In Row 57 are 8
Cell Value of row number 57 and column number 0 Is 56
Cell Value of row number 57 and column number 1 Is Trade School
Cell Value of row number 57 and column number 2 Is Marketing
Cell Value of row number 57 and column number 3 Is
Cell Value of row number 57 and column number 4 Is 86
Cell Value of row number 57 and column number 5 Is 87%
Cell Value of row number 57 and column number 6 Is 1
http://www.linkedin.com/company/trade-school/jobs
Number of cells In Row 58 are 8
Cell Value of row number 58 and column number 0 Is 57
Cell Value of row number 58 and column number 1 Is SaaSOptics
Cell Value of row number 58 and column number 2 Is Tech Services
Cell Value of row number 58 and column number 3 Is $18.4M
Cell Value of row number 58 and column number 4 Is 112
Cell Value of row number 58 and column number 5 Is 19%
Cell Value of row number 58 and column number 6 Is 1
http://www.linkedin.com/company/saasoptics/jobs
Number of cells In Row 59 are 8
Cell Value of row number 59 and column number 0 Is 58
Cell Value of row number 59 and column number 1 Is Outsource Acces...
Cell Value of row number 59 and column number 2 Is Recruiting
Cell Value of row number 59 and column number 3 Is
Cell Value of row number 59 and column number 4 Is 99
Cell Value of row number 59 and column number 5 Is 83%
Cell Value of row number 59 and column number 6 Is 1
http://www.linkedin.com/company/outsourceaccess/jobs
Number of cells In Row 60 are 8
Cell Value of row number 60 and column number 0 Is 59
Cell Value of row number 60 and column number 1 Is PlayOn! Sports
Cell Value of row number 60 and column number 2 Is Media
Cell Value of row number 60 and column number 3 Is $36M
Cell Value of row number 60 and column number 4 Is 210
Cell Value of row number 60 and column number 5 Is 23%
Cell Value of row number 60 and column number 6 Is 1
http://www.linkedin.com/company/playon-sports/jobs
Number of cells In Row 61 are 8
Cell Value of row number 61 and column number 0 Is 60
Cell Value of row number 61 and column number 1 Is OVME Aesthetics
Cell Value of row number 61 and column number 2 Is Cosmetics
Cell Value of row number 61 and column number 3 Is
Cell Value of row number 61 and column number 4 Is 83
Cell Value of row number 61 and column number 5 Is 63%
Cell Value of row number 61 and column number 6 Is 1
http://www.linkedin.com/company/ovme/jobs
Number of cells In Row 62 are 8
Cell Value of row number 62 and column number 0 Is 61
Cell Value of row number 62 and column number 1 Is Total Server So...
Cell Value of row number 62 and column number 2 Is Tech Services
Cell Value of row number 62 and column number 3 Is $42.5M
Cell Value of row number 62 and column number 4 Is 62
Cell Value of row number 62 and column number 5 Is 9%
Cell Value of row number 62 and column number 6 Is 1
http://www.linkedin.com/company/total-server-solutions-llc/jobs
Number of cells In Row 63 are 8
Cell Value of row number 63 and column number 0 Is 62
Cell Value of row number 63 and column number 1 Is FraudScope
Cell Value of row number 63 and column number 2 Is Tech Services
Cell Value of row number 63 and column number 3 Is
Cell Value of row number 63 and column number 4 Is 33
Cell Value of row number 63 and column number 5 Is 106%
Cell Value of row number 63 and column number 6 Is 1
http://www.linkedin.com/company/fraudscope/jobs
Number of cells In Row 64 are 8
Cell Value of row number 64 and column number 0 Is 63
Cell Value of row number 64 and column number 1 Is MedShape
Cell Value of row number 64 and column number 2 Is Medical Equip
Cell Value of row number 64 and column number 3 Is $36.4M
Cell Value of row number 64 and column number 4 Is 31
Cell Value of row number 64 and column number 5 Is -42%
Cell Value of row number 64 and column number 6 Is 1
http://www.linkedin.com/company/medshape-inc-/jobs
Number of cells In Row 65 are 8
Cell Value of row number 65 and column number 0 Is 64
Cell Value of row number 65 and column number 1 Is Bluefin Payment...
Cell Value of row number 65 and column number 2 Is Finance
Cell Value of row number 65 and column number 3 Is $31M
Cell Value of row number 65 and column number 4 Is 137
Cell Value of row number 65 and column number 5 Is 0%
Cell Value of row number 65 and column number 6 Is 1
http://www.linkedin.com/company/bluefin-payment-systems/jobs
Number of cells In Row 66 are 8
Cell Value of row number 66 and column number 0 Is 65
Cell Value of row number 66 and column number 1 Is Cognosos
Cell Value of row number 66 and column number 2 Is Tech Services
Cell Value of row number 66 and column number 3 Is $13.1M
Cell Value of row number 66 and column number 4 Is 32
Cell Value of row number 66 and column number 5 Is 33%
Cell Value of row number 66 and column number 6 Is 1
http://www.linkedin.com/company/cognosos/jobs
Number of cells In Row 67 are 8
Cell Value of row number 67 and column number 0 Is 66
Cell Value of row number 67 and column number 1 Is AssureSign
Cell Value of row number 67 and column number 2 Is Tech Services
Cell Value of row number 67 and column number 3 Is
Cell Value of row number 67 and column number 4 Is 36
Cell Value of row number 67 and column number 5 Is 33%
Cell Value of row number 67 and column number 6 Is 1
http://www.linkedin.com/company/assuresign/jobs
Number of cells In Row 68 are 8
Cell Value of row number 68 and column number 0 Is 67
Cell Value of row number 68 and column number 1 Is IQZ Systems
Cell Value of row number 68 and column number 2 Is Tech Services
Cell Value of row number 68 and column number 3 Is
Cell Value of row number 68 and column number 4 Is 41
Cell Value of row number 68 and column number 5 Is 105%
Cell Value of row number 68 and column number 6 Is 1
http://www.linkedin.com/company/iqzsystems/jobs
Number of cells In Row 69 are 8
Cell Value of row number 69 and column number 0 Is 68
Cell Value of row number 69 and column number 1 Is SecurEnds
Cell Value of row number 69 and column number 2 Is SaaS
Cell Value of row number 69 and column number 3 Is
Cell Value of row number 69 and column number 4 Is 56
Cell Value of row number 69 and column number 5 Is 75%
Cell Value of row number 69 and column number 6 Is 1
http://www.linkedin.com/company/securends/jobs
Number of cells In Row 70 are 8
Cell Value of row number 70 and column number 0 Is 69
Cell Value of row number 70 and column number 1 Is OvalEdge
Cell Value of row number 70 and column number 2 Is SaaS
Cell Value of row number 70 and column number 3 Is
Cell Value of row number 70 and column number 4 Is 116
Cell Value of row number 70 and column number 5 Is 47%
Cell Value of row number 70 and column number 6 Is 1
http://www.linkedin.com/company/ovaledge/jobs
Number of cells In Row 71 are 8
Cell Value of row number 71 and column number 0 Is 70
Cell Value of row number 71 and column number 1 Is Minority Tax Pr...
Cell Value of row number 71 and column number 2 Is Accounting

Cell Value of row number 71 and column number 3 Is
Cell Value of row number 71 and column number 4 Is 53
Cell Value of row number 71 and column number 5 Is 104%
Cell Value of row number 71 and column number 6 Is 1
http://www.linkedin.com/company/minority-tax-pros-association/jobs
Number of cells In Row 72 are 8
Cell Value of row number 72 and column number 0 Is 71
Cell Value of row number 72 and column number 1 Is New Acquisition...
Cell Value of row number 72 and column number 2 Is Marketing
Cell Value of row number 72 and column number 3 Is
Cell Value of row number 72 and column number 4 Is 162
Cell Value of row number 72 and column number 5 Is 41%
Cell Value of row number 72 and column number 6 Is 18
http://www.linkedin.com/company/new-acquisitions/jobs
Number of cells In Row 73 are 8
Cell Value of row number 73 and column number 0 Is 72
Cell Value of row number 73 and column number 1 Is Noble Investmen...
Cell Value of row number 73 and column number 2 Is Hospitality
Cell Value of row number 73 and column number 3 Is
Cell Value of row number 73 and column number 4 Is 135
Cell Value of row number 73 and column number 5 Is 4%
Cell Value of row number 73 and column number 6 Is 1
http://www.linkedin.com/company/noble-investment-group/jobs
Number of cells In Row 74 are 8
Cell Value of row number 74 and column number 0 Is 73
Cell Value of row number 74 and column number 1 Is Wahoo Fitness
Cell Value of row number 74 and column number 2 Is Health
Cell Value of row number 74 and column number 3 Is
Cell Value of row number 74 and column number 4 Is 276
Cell Value of row number 74 and column number 5 Is 32%
Cell Value of row number 74 and column number 6 Is 1
http://www.linkedin.com/company/wahoo-fitness/jobs
Number of cells In Row 75 are 8
Cell Value of row number 75 and column number 0 Is 74
Cell Value of row number 75 and column number 1 Is AUTOMAXX
Cell Value of row number 75 and column number 2 Is Automotive
Cell Value of row number 75 and column number 3 Is
Cell Value of row number 75 and column number 4 Is 77
Cell Value of row number 75 and column number 5 Is -39%
Cell Value of row number 75 and column number 6 Is 1
http://www.linkedin.com/company/automaxx/jobs
Number of cells In Row 76 are 8
Cell Value of row number 76 and column number 0 Is 75
Cell Value of row number 76 and column number 1 Is LocatorX
Cell Value of row number 76 and column number 2 Is Tech Services
Cell Value of row number 76 and column number 3 Is $9.5M
Cell Value of row number 76 and column number 4 Is 30
Cell Value of row number 76 and column number 5 Is 25%
Cell Value of row number 76 and column number 6 Is 1
http://www.linkedin.com/company/locatorx/jobs
Number of cells In Row 77 are 1
Cell Value of row number 77 and column number 0 Is
Number of cells In Row 78 are 8
Cell Value of row number 78 and column number 0 Is 76
Cell Value of row number 78 and column number 1 Is AnalyticsIQ
Cell Value of row number 78 and column number 2 Is Marketing
Cell Value of row number 78 and column number 3 Is $15M
Cell Value of row number 78 and column number 4 Is 40
Cell Value of row number 78 and column number 5 Is 25%
Cell Value of row number 78 and column number 6 Is 1
http://www.linkedin.com/company/analyticsiq/jobs
Number of cells In Row 79 are 8
Cell Value of row number 79 and column number 0 Is 77
Cell Value of row number 79 and column number 1 Is Ventiv Technolo...
Cell Value of row number 79 and column number 2 Is Tech Services
Cell Value of row number 79 and column number 3 Is
Cell Value of row number 79 and column number 4 Is 333
Cell Value of row number 79 and column number 5 Is 7%
Cell Value of row number 79 and column number 6 Is 1
http://www.linkedin.com/company/ventiv-tech/jobs
Number of cells In Row 80 are 8
Cell Value of row number 80 and column number 0 Is 78
Cell Value of row number 80 and column number 1 Is RoadSync
Cell Value of row number 80 and column number 2 Is Payments/Transfer
Cell Value of row number 80 and column number 3 Is $8.3M
Cell Value of row number 80 and column number 4 Is 84
Cell Value of row number 80 and column number 5 Is 87%
Cell Value of row number 80 and column number 6 Is 1
http://www.linkedin.com/company/roadsync/jobs
Number of cells In Row 81 are 8
Cell Value of row number 81 and column number 0 Is 79
Cell Value of row number 81 and column number 1 Is Urjanet
Cell Value of row number 81 and column number 2 Is Tech Services
Cell Value of row number 81 and column number 3 Is $42.8M
Cell Value of row number 81 and column number 4 Is 435
Cell Value of row number 81 and column number 5 Is 8%
Cell Value of row number 81 and column number 6 Is 1
http://www.linkedin.com/company/urjanet-inc/jobs
Number of cells In Row 82 are 8
Cell Value of row number 82 and column number 0 Is 80
Cell Value of row number 82 and column number 1 Is NPSG Global
Cell Value of row number 82 and column number 2 Is Construction
Cell Value of row number 82 and column number 3 Is
Cell Value of row number 82 and column number 4 Is 787
Cell Value of row number 82 and column number 5 Is 73%
Cell Value of row number 82 and column number 6 Is 1
http://www.linkedin.com/company/npsgglobal/jobs
Number of cells In Row 83 are 8
Cell Value of row number 83 and column number 0 Is 81
Cell Value of row number 83 and column number 1 Is IOU Financial
Cell Value of row number 83 and column number 2 Is Finance
Cell Value of row number 83 and column number 3 Is $32.1M
Cell Value of row number 83 and column number 4 Is 76
Cell Value of row number 83 and column number 5 Is 41%
Cell Value of row number 83 and column number 6 Is 1
http://www.linkedin.com/company/iou-financial-inc-/jobs
Number of cells In Row 84 are 8
Cell Value of row number 84 and column number 0 Is 82
Cell Value of row number 84 and column number 1 Is Cloudmed
Cell Value of row number 84 and column number 2 Is Hospital/Healthcare
Cell Value of row number 84 and column number 3 Is
Cell Value of row number 84 and column number 4 Is 928
Cell Value of row number 84 and column number 5 Is 125%
Cell Value of row number 84 and column number 6 Is 1
http://www.linkedin.com/company/cloudmedsolutions/jobs
Number of cells In Row 85 are 8
Cell Value of row number 85 and column number 0 Is 83
Cell Value of row number 85 and column number 1 Is Safe-Guard Prod...
Cell Value of row number 85 and column number 2 Is Automotive
Cell Value of row number 85 and column number 3 Is
Cell Value of row number 85 and column number 4 Is 504
Cell Value of row number 85 and column number 5 Is 10%
Cell Value of row number 85 and column number 6 Is 1
http://www.linkedin.com/company/safe-guard-products/jobs
Number of cells In Row 86 are 8
Cell Value of row number 86 and column number 0 Is 84
Cell Value of row number 86 and column number 1 Is TOP AGENT MAGAZ...
Cell Value of row number 86 and column number 2 Is Publishing
Cell Value of row number 86 and column number 3 Is
Cell Value of row number 86 and column number 4 Is 166
Cell Value of row number 86 and column number 5 Is 29%
Cell Value of row number 86 and column number 6 Is 1
http://www.linkedin.com/company/top-agent-magazine/jobs
Number of cells In Row 87 are 8
Cell Value of row number 87 and column number 0 Is 85
Cell Value of row number 87 and column number 1 Is ProKatchers
Cell Value of row number 87 and column number 2 Is Recruiting
Cell Value of row number 87 and column number 3 Is
Cell Value of row number 87 and column number 4 Is 137
Cell Value of row number 87 and column number 5 Is 28%
Cell Value of row number 87 and column number 6 Is 1
http://www.linkedin.com/company/prokatchers-llc/jobs
Number of cells In Row 88 are 8
Cell Value of row number 88 and column number 0 Is 86
Cell Value of row number 88 and column number 1 Is Innovien Soluti...
Cell Value of row number 88 and column number 2 Is IT Consulting
Cell Value of row number 88 and column number 3 Is
Cell Value of row number 88 and column number 4 Is 43
Cell Value of row number 88 and column number 5 Is 34%
Cell Value of row number 88 and column number 6 Is 1
http://www.linkedin.com/company/innovien-solutions/jobs
Number of cells In Row 89 are 8
Cell Value of row number 89 and column number 0 Is 87
Cell Value of row number 89 and column number 1 Is Intellum
Cell Value of row number 89 and column number 2 Is ELearning
Cell Value of row number 89 and column number 3 Is
Cell Value of row number 89 and column number 4 Is 163

Cell Value of row number 89 and column number 5 Is 54%
Cell Value of row number 89 and column number 6 Is 1
http://www.linkedin.com/company/intellum/jobs
Number of cells In Row 90 are 8
Cell Value of row number 90 and column number 0 Is 88
Cell Value of row number 90 and column number 1 Is Acoustic
Cell Value of row number 90 and column number 2 Is Martech
Cell Value of row number 90 and column number 3 Is
Cell Value of row number 90 and column number 4 Is 722
Cell Value of row number 90 and column number 5 Is 82%
Cell Value of row number 90 and column number 6 Is 1
http://www.linkedin.com/company/goacoustic/jobs
Number of cells In Row 91 are 8
Cell Value of row number 91 and column number 0 Is 89
Cell Value of row number 91 and column number 1 Is Surgical Inform...
Cell Value of row number 91 and column number 2 Is Tech Services
Cell Value of row number 91 and column number 3 Is
Cell Value of row number 91 and column number 4 Is 540
Cell Value of row number 91 and column number 5 Is -1%
Cell Value of row number 91 and column number 6 Is 1
http://www.linkedin.com/company/surgical-information-systems/jobs
Number of cells In Row 92 are 8
Cell Value of row number 92 and column number 0 Is 90
Cell Value of row number 92 and column number 1 Is ShootProof
Cell Value of row number 92 and column number 2 Is Photography
Cell Value of row number 92 and column number 3 Is
Cell Value of row number 92 and column number 4 Is 42
Cell Value of row number 92 and column number 5 Is -46%
Cell Value of row number 92 and column number 6 Is 1
http://www.linkedin.com/company/shootproof/jobs
Number of cells In Row 93 are 8
Cell Value of row number 93 and column number 0 Is 91
Cell Value of row number 93 and column number 1 Is Essex Furukawa ...
Cell Value of row number 93 and column number 2 Is Electronics
Cell Value of row number 93 and column number 3 Is
Cell Value of row number 93 and column number 4 Is 117
Cell Value of row number 93 and column number 5 Is 60%
Cell Value of row number 93 and column number 6 Is 1
http://www.linkedin.com/company/essex-furukawa-magnet-wire/jobs
Number of cells In Row 94 are 8
Cell Value of row number 94 and column number 0 Is 92
Cell Value of row number 94 and column number 1 Is Mr. Clean Car W...
Cell Value of row number 94 and column number 2 Is Automotive
Cell Value of row number 94 and column number 3 Is
Cell Value of row number 94 and column number 4 Is 66
Cell Value of row number 94 and column number 5 Is 29%
Cell Value of row number 94 and column number 6 Is 1
http://www.linkedin.com/company/mr-clean-car-wash/jobs
Number of cells In Row 95 are 8
Cell Value of row number 95 and column number 0 Is 93
Cell Value of row number 95 and column number 1 Is Nox Health
Cell Value of row number 95 and column number 2 Is Health
Cell Value of row number 95 and column number 3 Is
Cell Value of row number 95 and column number 4 Is 90
Cell Value of row number 95 and column number 5 Is 70%
Cell Value of row number 95 and column number 6 Is 1
http://www.linkedin.com/company/nox-health/jobs
Number of cells In Row 96 are 8
Cell Value of row number 96 and column number 0 Is 94
Cell Value of row number 96 and column number 1 Is Total Performan...
Cell Value of row number 96 and column number 2 Is Tech Services
Cell Value of row number 96 and column number 3 Is
Cell Value of row number 96 and column number 4 Is 39
Cell Value of row number 96 and column number 5 Is 77%
Cell Value of row number 96 and column number 6 Is 1
http://www.linkedin.com/company/total-performance-consulting/jobs
Number of cells In Row 97 are 8
Cell Value of row number 97 and column number 0 Is 95
Cell Value of row number 97 and column number 1 Is United Contract...
Cell Value of row number 97 and column number 2 Is Construction
Cell Value of row number 97 and column number 3 Is
Cell Value of row number 97 and column number 4 Is 65
Cell Value of row number 97 and column number 5 Is 55%
Cell Value of row number 97 and column number 6 Is 1
http://www.linkedin.com/company/unitedcontractorservices/jobs
Number of cells In Row 98 are 8
Cell Value of row number 98 and column number 0 Is 96
Cell Value of row number 98 and column number 1 Is Peachtree Hospi...
Cell Value of row number 98 and column number 2 Is Hospitality
Cell Value of row number 98 and column number 3 Is $50K
Cell Value of row number 98 and column number 4 Is 81
Cell Value of row number 98 and column number 5 Is -42%
Cell Value of row number 98 and column number 6 Is 5
http://www.linkedin.com/company/peachtreehospitalitymanagement/jobs
Number of cells In Row 99 are 8
Cell Value of row number 99 and column number 0 Is 97
Cell Value of row number 99 and column number 1 Is InductiveHealth...
Cell Value of row number 99 and column number 2 Is Digital Health
Cell Value of row number 99 and column number 3 Is
Cell Value of row number 99 and column number 4 Is 45
Cell Value of row number 99 and column number 5 Is 73%
Cell Value of row number 99 and column number 6 Is 1
http://www.linkedin.com/company/inductivehealth-informatics/jobs
Number of cells In Row 100 are 8
Cell Value of row number 100 and column number 0 Is 98
Cell Value of row number 100 and column number 1 Is Cook and James
Cell Value of row number 100 and column number 2 Is Legal
Cell Value of row number 100 and column number 3 Is
Cell Value of row number 100 and column number 4 Is 37
Cell Value of row number 100 and column number 5 Is 42%
Cell Value of row number 100 and column number 6 Is 1
http://www.linkedin.com/company/cook-and-james-llc/jobs
Number of cells In Row 101 are 8
Cell Value of row number 101 and column number 0 Is 99
Cell Value of row number 101 and column number 1 Is YEAH! BURGER
Cell Value of row number 101 and column number 2 Is Restaurants
Cell Value of row number 101 and column number 3 Is
Cell Value of row number 101 and column number 4 Is 115
Cell Value of row number 101 and column number 5 Is 42%
Cell Value of row number 101 and column number 6 Is 1
http://www.linkedin.com/company/yeah-burger/jobs
Number of cells In Row 102 are 8
Cell Value of row number 102 and column number 0 Is 100
Cell Value of row number 102 and column number 1 Is Vyne Dental
Cell Value of row number 102 and column number 2 Is Tech Services
Cell Value of row number 102 and column number 3 Is
Cell Value of row number 102 and column number 4 Is 48
Cell Value of row number 102 and column number 5 Is 41%
Cell Value of row number 102 and column number 6 Is 1
http://www.linkedin.com/company/vynedental/jobs